body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #777;
    color: #f5f5f5;
}

header {
    width: 100vw;
    margin: auto;
    background: #242424;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 40px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar li {
    list-style: none;
    margin-right: 50px;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #f5f5f5;
}

main {
    padding: 5px 10px;
}

/*Form*/
.container-form {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-form {
    width: 400px;
    margin: auto;
    background: #444;
    border-radius: 7px;
    padding: 14px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #242424;
    border-radius: 7px;
}

.input-lbl {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.input-lbl label {
    margin: 10px;
}

.input-lbl input {
    margin: 10px;
}

.submit-btn {
    margin: 10px;
    padding: 5px 20px;
}

/*Game*/
.container-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border: 1px solid orange;
}

.sect-player-one {
    width: 50%;
    border: 1px solid red;
}

.sect-player-one h2 {
    display: flex;
    justify-content: center;
}

.div-php {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sect-player-two {
    width: 50%;
    border: 1px solid cyan;
}

.sect-player-two h2 {
    display: flex;
    justify-content: center;
}

.box-result {
    width: 85%;
    display: flex;
    justify-content: space-between;
    border: 1px solid orangered;
    margin: auto;
}

.box-atk {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid red;
}

.box-dfs {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid red;
}

#btn_atk, #btn_atk_2 {
    margin-right: 20px;
    padding: 7px 24px;
}

#btn_dfs, #btn_dfs_2 {
    /*margin-right: 20px;*/
    padding: 7px 24px; 
}

/* .lbl_atk {
    font-size: 1.4rem;
}

.lbl_atk_2 {
    font-size: 1.4rem;
} */