body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #161616;
    color: #f5f5f5;
}

header {
    width: 100vw;
    margin: auto;
    background: linear-gradient(30deg, rgba(65, 105, 225, 0.8), rgba(34, 34, 34, 0.8));
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #00ffff;
}

.navbar {
    width: 100%;
    height: 40px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar li {
    list-style: none;
    margin-right: 50px;
}

.navbar a {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #f5f5f5;
}

main {
    padding: 5px 10px;
}

/*Form*/
.container-form {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-form {
    width: 400px;
    background: #333;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    margin: auto;
    padding: 20px;
}

.sub-form {
    background: #242424;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.input-lbl {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.input-lbl label {
    margin: 10px;
}

.input-lbl input {
    margin: 10px;
}

.submit-btn {
    font-weight: bold;
    background: #242424;
    border: 1px solid #333;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    color: #00ffff;
    margin: 10px;
    padding: 5px 20px;
}

.submit-btn:hover {
    background: #333;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    color: #00ff00;
    padding: 5px 20px;
}

.submit-btn:active {
    background: #f5f5f5;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    color: #000;
}

.signup-div {
    display: flex;
    justify-content: center;
}

.signup {
    font-size: 0.8rem;
    color: rgba(0, 255, 255, 0.5);
    margin: 5px auto;
}

.signup:hover {
    color: rgba(0, 255, 255, 0.8);
}

.signup:active {
    color: #00ff00;
}

/*confirmation*/
.linktogame {
    color: #00ffff;
}

.goback {
    color: #ffa500;
}

/*Default page*/
.default-div {
    margin: auto 20px;
}


/*Game*/
.h1-game {
    text-shadow: 0px 0px 4px #00ffff;
    color: #161616;
}

.paragraph {
    margin-left: 20px;
    color: #00ffff;
}

.container-game {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-game {
    width: 100%;
    height: auto;
}

.container-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sect-player-one {
    width: 48%;
    background: linear-gradient(30deg, rgba(65, 105, 225, 0.8), rgba(34, 34, 34, 0.8));
    border-radius: 7px;
    color: #f5f5f5;
    text-shadow: 0 0 7px #00ffff;
}

.sect-player-one h2 {
    display: flex;
    justify-content: center;
}

#div-php, #div-php2 {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #00ffff;
}

.sect-player-two {
    width: 48%;
    background: linear-gradient(30deg, rgba(128, 0, 128, 1), rgba(34, 34, 34, 0.8));
    border-radius: 7px;
    color: #ffc0cb;
    text-shadow: 0 0 7px #ff69b4;
}

.sect-player-two h2 {
    display: flex;
    justify-content: center;
}

.box-btnlbl {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*border: 1px solid orangered;*/
    margin: auto;
    margin-bottom: 20px;
}

.box-atk, .box-heal, .box-dfs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    margin: 20px auto;
}

#btn_atk_user, #btn_atk_computer {
    font-weight: bold;
    background: linear-gradient(30deg, rgba(0, 0, 0, 1), rgba(0, 255, 0, 0.2));
    border: 1px solid rgba(0, 255, 0, 0.8);
    border-radius: 7px;
    box-shadow: 0 0 10px #00ff00;
    color: #00ff00;
    padding: 7px 24px;
}

#btn_atk_user:hover, #btn_atk_computer:hover {
    background: linear-gradient(30deg, rgba(16, 16, 16, 1), rgba(0, 255, 0, 1));
    border: 1px solid #161616;
    box-shadow: inset 0 0 10px #00ff00;
    color: #00ff00;
}

#btn_atk_user:active, #btn_atk_computer:active {
    background: #00ff00;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
    color: #f5f5f5;
}

#btn_heal_user, #btn_heal_computer {
    font-weight: bold;
    background: linear-gradient(30deg, rgba(0, 0, 0, 1), rgba(255, 192, 203, 0.2));
    border: 1px solid rgba(255, 192, 203, 0.5);
    border-radius: 7px;
    box-shadow: 0 0 5px #ffc0cb;
    color: #ffc0cb;
    padding: 7px 24px;
}

#btn_heal_user:hover, #btn_heal_computer:hover {
    background: linear-gradient(30deg, rgba(16, 16, 16, 1), rgba(255, 192, 203, 1));
    border: 1px solid #161616;
    box-shadow: inset 0 0 10px rgba(255, 192, 203, 1);
    color: #ffc0cb;
}

#btn_heal_user:active, #btn_heal_computer:active {
    background: rgba(255, 192, 203, 1);
    border: 1px solid rgba(255, 192, 203, 1);
    box-shadow: 0 0 10px #ffc0cb;
    color: #f5f5f5;
}

#btn_dfs_user, #btn_dfs_computer {
    font-weight: bold;
    background: linear-gradient(30deg, rgba(0, 0, 0, 1), rgba(1, 195, 195, 0.2));
    border: 1px solid rgba(1, 195, 195, 0.8);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(1, 195, 195);
    color: rgb(1, 195, 195);
    padding: 7px 24px; 
}

#btn_dfs_user:hover, #btn_dfs_computer:hover {
    background: linear-gradient(30deg, rgba(16, 16, 16, 1), rgba(1, 195, 195, 1));
    border: 1px solid #161616;
    box-shadow: inset 0 0 10px rgb(1, 195, 195);
    color: #00ffff;
}

#btn_dfs_user:active, #btn_dfs_computer:active {
    background: rgba(1, 195, 195, 1);
    border: 1px solid rgba(1, 195, 195, 1);
    box-shadow: 0 0 10px rgb(1, 195, 195);
    color: #f5f5f5;
}

/*label score*/
#lbl_atk_user, #lbl_atk_computer {
    color: #00ff00;
    text-shadow: 0px 0px 10px #00ff00;
    padding-top: 15px;
}

#lbl_heal_user, #lbl_heal_computer {
    color: #ffc0cb;
    text-shadow: 0px 0px 7px #f5f5f5;
    padding-top: 15px;
}

/*ok*/
#lbl_dfs_user, #lbl_dfs_computer {
    color: #00ffff;
    text-shadow: 0px 0px 7px #f5f5f5;
    padding-top: 15px;
}

.span {
    color: #00ff00;
}

/*square animation*/
@keyframes square-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(450px);
    }
}

.square-frame {
    display: flex;
    align-items: center;
    width: 500px;
    height: 10px;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#square {
    width: 50px;
    height: 10px;
    background: linear-gradient(30deg, 
        rgba(65, 105, 225, 1), rgba(0, 191, 250, 1));
    border-radius: 10px;
}

.caller-js {
    animation-name: square-animation;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: cubic-bezier(0.5, 0.9, 0.5, 0.9) ease-out;
}

.message-round {
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 20px;
}

#round-player {
    font-size: 2rem;
    font-weight: bold;
    color: #00ffff;
    margin: auto;
}

.refresher-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.refresher-box button {
    font-weight: bold;
    background: linear-gradient(30deg, rgba(0, 0, 0, 1), rgba(4, 172, 4, 0.2));
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 0 0 10px #04ac04;
    color: #04ac04;
    padding: 10px 24px;
    transform: scale(1.00);
    transition: 0.1s ease-in-out;
}

.refresher-box button:hover {
    font-weight: bold;
    background: #242424;
    border: 1px solid #161616;
    border-radius: 7px;
    box-shadow: 0 0 40px #04ac04;
    color: #00ff00;
    padding: 10px 24px;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.refresher-box button:active {
    font-weight: bold;
    background: rgba(4, 172, 4, 0.5);
    border: 1px solid rgba(4, 172, 4, 0.2);
    border-radius: 7px;
    box-shadow: 0 0 10px #04ac04;
    color: #f5f5f5;
    padding: 10px 24px;
    transform: scale(0.95);
}